@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Great+Vibes&family=Jura:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-greate-vibes: "Great Vibes", sans-serif;
}

:root {
  --background: #faf0e6;
  --foreground: #171717;
  --text: white;
}

html {
  @apply h-full;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply h-full font-roboto;
}
